header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    .logo-area {
        display: flex;
        align-items: center;

        img {
            width: 100px;
            height: auto;
            border-radius: 10px;
        }

        h1 {
            font-size: 1.4rem;
            color: #20c744;
        }
    }
    .user-area {
      display: flex;
      align-items: center;
    }
}